.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 350px;
  padding: 15px;
  resize: none;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #242424;
}

.text {
  background-color: #242424;
  transform: translate(13px, 10px);
  width: max-content;
  padding: 0px 10px;
}

.error {
  position: absolute;
  bottom: 0;
  left: 15px;
  transform: translateY(20px);
  font-size: 12px;
}

.button {
  margin-top: 24px;
}
